:host {
  display: flex;
  flex-direction: column;

  .game-score {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
  }

  .game-board {
    display: flex;
    flex-wrap: wrap;
  }

  .game-score,
  .game-board {
    align-self: center;
    max-width: 1404px;
  }
}

@media (max-width: 1404px) {
  :host {
    .game-board {
      max-width: 940px;
    }
  }
}

@media (max-width: 940px) {
  :host {
    .game-board {
      max-width: 468px;
    }
  }
}
