/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

html {
  font-family: "Noto Sans JP", sans-serif;
  height: 100%;
  background: linear-gradient(#006eff, #0011ff);

  body {
    margin: 0;
  }
}
